<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smtagro.donald.com">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <permission
        android:name="com.example.iduma.tree_tracking.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.iduma.tree_tracking.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".utils.MyApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/agro_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Agents.AgentMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LandingPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Agents.AddFarmers"
            android:label="Add Farmer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AddAgents"
            android:label="Add Agent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Agents.ViewFarmers"
            android:label="View Farmers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Agents.ResetPassword"
            android:label="Change Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.ViewAgents"
            android:label="AgroLight Agents"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.SearchAgent"
            android:label="Search Agent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.SearchFarmer"
            android:label="Search Farmer"
            android:screenOrientation="portrait" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Admin.ShowFarms"
            android:label="AgroLight Registered Farms"
            android:screenOrientation="portrait" />
        <activity android:name=".Agents.Farming"
            android:label="Report Farming Activities"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Admin.AdminLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Agents.AgentLogin"
            android:screenOrientation="portrait" />
        <activity android:name=".Intro" />
        <activity
            android:name=".Admin.AgentDetails"
            android:label="AgroLight Agent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.FarmerDetails"
            android:label="AgroLight Farmer"
            android:screenOrientation="portrait" />
        <activity android:name=".Agents.Recovery"
            android:label="Farm Produce Recovery"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>